.container-contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container-contact::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(media/4.PNG) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.863);
    box-shadow: 0px 0px 19px 5px;

}

.left {
    height: 100%;
    background: url(media/5.PNG) no-repeat center;
    background-size: cover;
}

.right {
    padding: 25px 40px;
}

.contacto {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    
}

h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    background-color: rgba(252, 252, 252, 0.863);

}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgba(252, 252, 252, 0.863);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover{
    background-color: rgba(122, 121, 121, 0.452);
    
}

.field:focus{
    background-color: #fff;
}

.area {
    min-height: 150px;
}

@media screen and (max-width:880px){
    .contact-box{
        grid-template-columns: 1fr;
    }

    .left{
        height: 200px;
    }
}
